<div class="card">
    <label>用入文法</label>
    <p>用 -> 隔开产生式头部和尾部</p>
    <p>注意符号之间需要用空格隔开</p>
<textarea
        class="form-control"
        rows="10"
        [(ngModel)]="grammar"
        (dragenter)="dragenter($event)"
        (dragover)="dragover($event)"
        (drop)="drop($event)"
></textarea>
    <div>
        <!-- 可以通过 accept 属性来限制文件类型 -->
        <input type="file" (change)="fileSelected($event)">
        <button (click)="loadFile()" class="btn btn-default">从文件载入文法</button>
        <button class="btn btn-default">保存文法</button>
        <button class="btn btn-default">删除文法</button>
    </div>
</div>
